@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans&display=swap');


body{
  font-size: 16px;
  background: #282c34;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  z-index: 1;
}

h1 {
  color: white

}

#email:link:hover {
  color:white;
  text-decoration: none;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

#email {
  color: black;
  text-decoration: black;
  text-align: center
  
}


.App {
  text-align: center;
}



.App-header {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
  top:4em;
}
.heading-background{
  position: fixed;
  opacity: 0.7;
  left:-0.01em;

}

#contact-btn {
font-family: 'Campton';
border-radius: 20px;
font-size: 20px;
background: white;
padding: 8px
}


nav{
  font-family: 'Campton';
  position:fixed;
  left:50em;
  top:2em;
z-index: 100;
}
nav li{
  display: inline-block;
  cursor: pointer;
  color: white;
  padding-right: 10px;

}
nav li .link{
  text-decoration: none;
  padding:1em;
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
li .link:hover{
  opacity: 1;
}

.header-title{
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
  text-align: right;
  top:2em;
  margin-right: 2em
}
.about{
  display: flex;
  flex-direction: row;
  margin-bottom: 10em
  
}
.about-content{
  position: relative;
  left:15em;

}
.about-content h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 5em;
  text-align: left;
}
.about-content p{
  color: white;
  font-size: 1.3em;
  text-align: left;
  width: 37em;
}
.about img{
  margin-left: 15em;
  margin-top: em;
  height: 345px;
  width: 300px;
  border-radius: 200px;
  border-width: 5px;
  border-style: solid;
  border-color: #49b2ad 

}
.work{
  display: flex;
  flex-direction: row;
  margin: 1em;
  top:8em;
  align-items: flex-start;
  padding-bottom: 5em
}
#work-heading{
  font-family: 'Montserrat', sans-serif;
  font-size: 5em;
  text-align: left;
  margin-left: 2.5em;
  margin-bottom: 20px

}


#cards {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}

#resume-btn:hover {
  color: rgba(231, 231, 231, 0.74);
  text-decoration:none
  }

  #resume-btn {
    color: white;
    }
.contact{
  position: relative;
  top:0;
  left:0;
  text-align: center;
  width: 100%; 
  height: 100%;
  background-color: white;
}
.contact h1{
    font-family: 'Montserrat', sans-serif;
  font-size: 5em;
}

.contact li{
  display: inline-block;
  margin: 3em
}


a:hover {
  color:grey;
  text-decoration: black;
}

a:link{
  color:black
}

a {
  color: black;

  
}


/* SMARTPHONES PORTRAIT */
@media only screen and (min-device-width: 320px) and (max-device-width : 480px){

  body{
    font-size: 6px;
  }
  header h1{
font-size: 5em;  
padding: 1em;
margin-right: 0em;
}

.heading-background{
  display: none;
}
nav{
  display: none;
}
.header-title{
  font-size: 3em;
  text-align: left;
  top:1em;
  left:1em;
}
.about{position: relative;
      display: flex;
      top:-30em;
}
.about img{
  display: none
}
.about-content{
  left:2em;
}
.about-content p{
  font-size: 3.5em;
  text-align: left;
  width: 300px;
}

.work{
  left:2em;
  top:2em;
  align-items: flex-start;
}
.work .work-content{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5em;
}
.project img{
width: 45em;  
height: 45em;
}

.contact{
  top:15em;
  left:2em;
}
.contact h1{
  font-size: 4em;
}
.contact .email{
  font-size: 3.5em;
}

.contact li{
  display: block;
  padding: 2em;
}
.contact li a{
  font-size: 2.5em;
}
.footer{
  top:4em;
  padding: 1em;
  font-size: 2em;
}


}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {


body{
    font-size: 10px;
  }
header h1{
font-size: 5em;  
padding: 1em;
margin-right: 0em;
}

nav{
  display: none;
}
.header-title{
  font-size: 3.6em;
  text-align: left;
  top:1em;
  left:1em;
}
.about{position: relative;
      display: flex;
      top:-10em;
}
.about img{
  display: none
}
.about-content{
  left:6em;
}
.about-content p{
  font-size: 3.5em;
  text-align: left;
  width: 700px;
}

.work{
  left:6em;
  top:4em;
  align-items: flex-start;
}
.work .work-content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5em;
}
.project img{
width: 30em;  
height: 30em;
}

.contact{
  top:15em;
  left:6em;
}
.contact h1{
  font-size: 4em;
}
.contact .email{
  font-size: 3.5em;
}

.contact li{
  display: block;
  padding: 2em;
}
.contact li a{
  font-size: 2.5em;
}
.footer{
  top:4em;
  padding: 1em;
  font-size: 2em;
}

}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */



body{
    font-size: 20px;
  }
  header h1{
    font-size: 3em;
    margin-right: 25em;
  }


  nav{
  left:60em;
  top:12em;
  z-index: 100;
}
nav li{
   font-size: 3em;

}
.header-title{
  font-size: 5em;
  top:1em;
  left:1em;
}
.about{position: relative;
      display: flex;
      top:-20em;
}
.about-content{
  left:10em;
}
.about-content p{
  font-size: 3.5em;
  text-align: left;
  width: 25em;
}
.about img{
  margin-left: 1em;
}

.work{
  left:10em;
  top:4em;
  align-items: flex-start;
}
.work .work-content{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.project img{
width: 32em;  
height: 32em;
}

.contact{
  top:10em;
  left:8em;
}
.contact h1{
  font-size: 8em;
}
.contact .email{
  font-size: 5em;
}

.contact li a{
  font-size: 4em;
  padding: 1em;
}
.footer{
  top:4em;
  padding: 1em;
  font-size: 4em;
}


}

